<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
{{>include/skipnavi}}
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location4}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>수집통계</span></h2>
				<!-- 타이틀 -->

				<div class="chart_cont clear">
					<div class="anal_wrap fl">
						 <!-- 수집통계 -->
						<div class="clear">
								<ul class="anal_list">
									<li>
									    <div style="padding-bottom:30px">
											<table style="border:1px solid #336699;width:585px;">
												<tr>
													<td style="text-align:center;padding:10px;background:#336699;color:#fff;font-size:16px;;font-weight:bold;"> 문백보건지소</td>
													<td style="text-align:center"> <span style="color:#3399cc;">●</span> 정상  <span style="color:#cc0000;padding-left:30px">●</span> 이상 <span style="color:#000;padding-left:30px">●</span> 통신</td>
												</tr>
											</table>
										</div>
										<div class="anal_bg">
											<div class="img_thum05" style="padding-left:237px"><img src="/images/sub/sun_img02.png"></div>
											<div class="txt_thum3 fl">
												<table class="tbl_col_type06">
														<colgroup>
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
														</colgroup>
														<tr>
															<th> 분류</th>
															<th> 전압</th>
															<th> 전류</th>
															<th> 전력</th>
														</tr>
														<tr>
															<td> A상</td>
															<td> {{round rstStats1.avoltage "1"}} V</td>
															<td> {{round rstStats1.acurrent "3"}} A</td>
															<td> {{electric "0.173" rstStats1.avoltage rstStats1.acurrent}} kW</td>
														</tr>
														<tr>
															<td> B상</td>
															<td> {{round rstStats1.bvoltage "1"}} V</td>
															<td> {{round rstStats1.bcurrent "3"}} A</td>
															<td> {{electric "0.174" rstStats1.bvoltage rstStats1.bcurrent}} kW</td>
														</tr>
														<tr>
															<td> C상</td>
															<td> {{round rstStats1.cvoltage "1"}} V</td>
															<td> {{round rstStats1.ccurrent "3"}} A</td>
															<td> {{electric "0.175" rstStats1.cvoltage rstStats1.ccurrent}} kW</td>
														</tr>
												</table>
											</div>
											<div class="txt_thum4 fr">
												<table class="tbl_col_type07">
														<colgroup>
															<col style="width: 50%;">
															<col style="width: 50%;">
														</colgroup>
														<tr>
															<td colspan="2"> S1</td>
														</tr>
														<tr>
															<th> 전압</th>
															<td> {{rstStats1.voltage1}} V</td>
														</tr>
														<tr>
															<th> 전류</th>
															<td> {{rstStats1.humidity1}} A</td>
														</tr>
														<tr>
															<th>조도</th>
															<td> {{rstStats1.illumination1}} </td>
														</tr>
														<tr>
															<th>온도</th>
															<td> {{rstStats1.temperature1}} ℃</td>
														</tr>
												</table>
											</div>
										</div>
									</li>
									<li>
									    <div style="padding-bottom:30px">
											<table style="border:1px solid #336699;width:585px;">
												<tr>
													<td style="text-align:center;padding:10px;background:#336699;color:#fff;font-size:16px;;font-weight:bold;"> 광혜원보건지소</td>
													<td style="text-align:center"> <span style="color:#3399cc;">●</span> 정상  <span style="color:#cc0000;padding-left:30px">●</span> 이상 <span style="color:#000;padding-left:30px">●</span> 통신</td>
												</tr>
											</table>
										</div>
										<div class="anal_bg">
											<div class="img_thum05" style="padding-left:237px"><img src="/images/sub/sun_img02.png"></div>
											<div class="txt_thum3 fl">
												<table class="tbl_col_type06">
														<colgroup>
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
														</colgroup>
														<tr>
															<th> 분류</th>
															<th> 전압</th>
															<th> 전류</th>
															<th> 전력</th>
														</tr>
														<tr>
															<td> A상</td>
															<td> {{round rstStats2.avoltage "1"}} V</td>
															<td> {{round rstStats2.acurrent "3"}} A</td>
															<td> {{electric "0.173" rstStats2.avoltage rstStats2.acurrent}} kW</td>
														</tr>
														<tr>
															<td> B상</td>
															<td> {{round rstStats2.bvoltage "1"}} V</td>
															<td> {{round rstStats2.bcurrent "3"}} A</td>
															<td> {{electric "0.174" rstStats2.bvoltage rstStats2.bcurrent}} kW</td>
														</tr>
														<tr>
															<td> C상</td>
															<td> {{round rstStats2.cvoltage "1"}} V</td>
															<td> {{round rstStats2.ccurrent "3"}} A</td>
															<td> {{electric "0.175" rstStats2.cvoltage rstStats2.ccurrent}} kW</td>
														</tr>
												</table>
											</div>
											<div class="txt_thum4 fr">
												<table class="tbl_col_type07">
														<colgroup>
															<col style="width: 50%;">
															<col style="width: 50%;">
														</colgroup>
														<tr>
															<td colspan="2"> S1</td>
														</tr>
														<tr>
															<th> 전압</th>
															<td> {{rstStats2.voltage1}} V</td>
														</tr>
														<tr>
															<th> 전류</th>
															<td> {{rstStats2.humidity1}} A</td>
														</tr>
														<tr>
															<th>조도</th>
															<td> {{rstStats2.illumination1}} </td>
														</tr>
														<tr>
															<th>온도</th>
															<td> {{rstStats2.temperature1}} ℃</td>
														</tr>
												</table>
											</div>
										</div>
									</li>
									<li>
									    <div style="padding-bottom:30px">
											<table style="border:1px solid #336699;width:585px;">
												<tr>
													<td style="text-align:center;padding:10px;background:#336699;color:#fff;font-size:16px;;font-weight:bold;"> 서울에너지공사</td>
													<td style="text-align:center"> <span style="color:#3399cc;">●</span> 정상  <span style="color:#cc0000;padding-left:30px">●</span> 이상 <span style="color:#000;padding-left:30px">●</span> 통신</td>
												</tr>
											</table>
										</div>
										<div class="anal_bg">
											<div class="img_thum05" style="padding-left:237px"><img src="/images/sub/sun_img02.png"></div>
											<div class="txt_thum3 fl">
												<table class="tbl_col_type06">
														<colgroup>
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
														</colgroup>
														<tr>
															<th> 분류</th>
															<th> 전압</th>
															<th> 전류</th>
															<th> 전력</th>
														</tr>
														<tr>
															<td> A상</td>
															<td> {{round rstStats3.avoltage "1"}} V</td>
															<td> {{round rstStats3.acurrent "3"}} A</td>
															<td> {{electric "0.173" rstStats3.avoltage rstStats3.acurrent}} kW</td>
														</tr>
														<tr>
															<td> B상</td>
															<td> {{round rstStats3.bvoltage "1"}} V</td>
															<td> {{round rstStats3.bcurrent "3"}} A</td>
															<td> {{electric "0.174" rstStats3.bvoltage rstStats3.bcurrent}} kW</td>
														</tr>
														<tr>
															<td> C상</td>
															<td> {{round rstStats3.cvoltage "1"}} V</td>
															<td> {{round rstStats3.ccurrent "3"}} A</td>
															<td> {{electric "0.175" rstStats3.cvoltage rstStats3.ccurrent}} kW</td>
														</tr>
												</table>
											</div>
											<div class="txt_thum4 fr">
												<table class="tbl_col_type07">
														<colgroup>
															<col style="width: 50%;">
															<col style="width: 50%;">
														</colgroup>
														<tr>
															<td colspan="2"> S1</td>
														</tr>
														<tr>
															<th> 전압</th>
															<td> {{rstStats3.voltage1}} V</td>
														</tr>
														<tr>
															<th> 전류</th>
															<td> {{rstStats3.humidity1}} A</td>
														</tr>
														<tr>
															<th>조도</th>
															<td> {{rstStats3.illumination1}} </td>
														</tr>
														<tr>
															<th>온도</th>
															<td> {{rstStats3.temperature1}} ℃</td>
														</tr>
												</table>
											</div>
										</div>
									</li>
									<li>
									    <div style="padding-bottom:30px">
											<table style="border:1px solid #336699;width:585px;">
												<tr>
													<td style="text-align:center;padding:10px;background:#336699;color:#fff;font-size:16px;;font-weight:bold;"> 신포천변전소</td>
													<td style="text-align:center"> <span style="color:#3399cc;">●</span> 정상  <span style="color:#cc0000;padding-left:30px">●</span> 이상 <span style="color:#000;padding-left:30px">●</span> 통신</td>
												</tr>
											</table>
										</div>
										<div class="anal_bg">
											<div class="img_thum05" style="padding-left:237px"><img src="/images/sub/sun_img02.png"></div>
											<div class="txt_thum3 fl">
												<table class="tbl_col_type06">
														<colgroup>
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
															<col style="width: 25%;">
														</colgroup>
														<tr>
															<th> 분류</th>
															<th> 전압</th>
															<th> 전류</th>
															<th> 전력</th>
														</tr>
														<tr>
															<td> A상</td>
															<td> {{round rstStats4.avoltage "1"}} V</td>
															<td> {{round rstStats4.acurrent "3"}} A</td>
															<td> {{electric "0.173" rstStats4.avoltage rstStats4.acurrent}} kW</td>
														</tr>
														<tr>
															<td> B상</td>
															<td> {{round rstStats4.bvoltage "1"}} V</td>
															<td> {{round rstStats4.bcurrent "2"}} A</td>
															<td> {{electric "0.174" rstStats4.bvoltage rstStats4.bcurrent}} kW</td>
														</tr>
														<tr>
															<td> C상</td>
															<td> {{round rstStats4.cvoltage "1"}} V</td>
															<td> {{round rstStats4.ccurrent "3"}} A</td>
															<td> {{electric "0.175" rstStats4.cvoltage rstStats4.ccurrent}} kW</td>
														</tr>
												</table>
											</div>
											<div class="txt_thum4 fr">
												<table class="tbl_col_type07">
														<colgroup>
															<col style="width: 50%;">
															<col style="width: 50%;">
														</colgroup>
														<tr>
															<td colspan="2"> S1</td>
														</tr>
														<tr>
															<th> 전압</th>
															<td> {{rstStats4.voltage1}} V</td>
														</tr>
														<tr>
															<th> 전류</th>
															<td> {{rstStats4.humidity1}} A</td>
														</tr>
														<tr>
															<th>조도</th>
															<td> {{rstStats4.illumination1}} </td>
														</tr>
														<tr>
															<th>온도</th>
															<td> {{rstStats4.temperature1}} ℃</td>
														</tr>
												</table>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
							<!-- 수집통계 -->
					</div>
				</div>
				
			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/environment/routinecheck.js"></script>
    <!--//custom js-->
</body>
</html>
