<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
 {{>include/skipnavi}} 
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location3}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>유지보수 이력관리</span></h2>
				<!-- 타이틀 -->

					<!-- 팝업 등록 -->
					<div id="dispay_view1" class="popup js-popup">
						<div class="pop_header">
							<h1 class="pop_tit">유지보수이력 입력/수정</h1>
							<a href="#" onclick="view_hide(1);" class="pop_close"></a>
						</div>
						<div class="pop_content">
							
							<!-- tbl -->
							<div class="table_warp mar_t20">
								<table class="tbl_row_type01">
									<caption>내용(제목, 작성자, 작성일 등으로 구성)</caption>
									<colgroup>
										<col style="width:15%;">
										<col style="width:35%;">
										<col style="width:15%;">
										<col >
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">등록일</th>
											<td colspan="3">
												<span class="calendar_input"><input type="text" id="from1" class="text w78p"/></span>
											</td>
										</tr>
										<tr>
											<th scope="row">설비명</th>
											<td colspan="3">
												<input type="text" class="text w95p" id="equipment" placeholder="설비명을 입력하세요" />
											</td>
										</tr>
										<tr>
											<th scope="row">등록자</th>
											<td>
												<input type="text" class="text w95p" id="author" placeholder="등록자를 입력하세요">
											</td>
											<th>작업자</th>
											<td>
												<input type="text" class="text w95p" id="worker" placeholder="작업자를 입력하세요">
											</td>
										</tr>
										<tr>
											<th scope="row">작업상세</th>
											<td  colspan="3">
												<textarea title="내용을 입력하세요" id="contents" placeholder="작업상세를 입력하세요"></textarea>
											</td>
										</tr>
										<tr>
											<th scope="row">처리결과</th>
											<td  colspan="3">
												<textarea title="내용을 입력하세요" id="result" placeholder="처리결과를 입력하세요"></textarea>
											</td>
										</tr>
										<tr>
											<th scope="row">비고</th>
											<td colspan="3">
												<input type="text" class="text w95p" id="remark" placeholder="비고를 입력하세요" >
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- // tbl -->
							<div class="mar_t20 pop_footer">
								<a href="#" class="btn btn_w155 btn_sky"  id="btn-save">등록</a>
								<a href="#" onclick="view_hide(1);" class="btn btn_w155 btn_gray02">취소</a>
							</div>

						</div>

					</div>
					<div class="popup_bg" id="js-popup-bg"></div>
					<!-- // 팝업 등록 -->

                <!-- 타이틀 -->
				<div>
				<form name="defaultFrm" id="defaultFrm" action="/admin/apply/calendarList.do" method="post">
					<input name="selectedYear" id="inpSelectedYear" type="hidden" value="2019">
					<input name="selectedMonth" id="inpSelectedMonth" type="hidden" value="01">
					<fieldset>
						<div class="srchWrap mar_b15 c">							
							<a class="mar_r15 bgPrev" href="javascript:fncGoMonth('{{search.pYear}}','{{search.pMonth}}');">이전달</a>
							<span class="inlineBlock marL5">{{search.cYear}}년</span> <span class="inlineBlock marL5 marR10">{{search.cMonth}}월</span>
							<a class="mar_l20 bgNext" href="javascript:fncGoMonth('{{search.nYear}}','{{search.nMonth}}');">다음달</a>
							<div class="tbl_right"><a href="#dispay_view1" onclick="view_show(1);" class="btn btn_w155 btn_sky">신규등록</a></div>
						</div>
						<div class="mar_b20">
							<table class="table calMeal">
								<colgroup>
									<col width="14.2%">
									<col width="14.2%">
									<col width="14.2%">
									<col width="14.2%">
									<col width="14.2%">
									<col width="14.2%">
									<col width="14.2%">
								</colgroup>
								<thead>
									<tr>
										<th>일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th>토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										{{#calendar this search.cYear search.cMonth }}
										
											{{#each firstList}}
												<td></td>
											{{/each}} 
										
											{{#each dayList}}
												{{#if leftday}}
												</tr>
												<tr>
												{{/if}}
													<td>
														<div class="min_h">
														<span class="date {{#if dayFlag}}today{{/if}}">
															{{day}}<br>
														</span>
														{{#each dataList}}
															{{#dateEquals workdate todate}}
															<div onclick="getInfo({{id}});" style="cursor:pointer">● {{equipment}}</div>	
															{{/dateEquals}}
														{{/each}}
														
														</div>
													</td>
											{{/each}} 
										
											{{#each leftList}}
												<td></td>
											{{/each}} 
										
										{{/calendar}}
							
									</tr>				
									
								</tbody>
							</table>
							
							
						</div>
					</fieldset>
				</form>		
			</div>
              
			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/maintenance/eventhistory.js"></script>
    <!--//custom js-->
</body>
</html>
