<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
 {{>include/skipnavi}} 
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location3}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>이벤트관리</span></h2>
				<!-- 타이틀 -->

                <!-- search area -->
				<div class="search_area">
					<table class="tbl_search">
						<caption>검색조건</caption>
						<colgroup>
							<col style="width:60%">
                            <col style="width:40%;">
						</colgroup>
						<tbody>
							<tr>
								<td style="text-align:right">
                                    기간  <span class="calendar_input"><input type="text" id="from1" value="{{search.startDate}}" class="text w78p"/></span> ~ <span class="calendar_input" ><input type="text" id="to1" value="{{search.endDate}}" class="text w78p" /></span>
								</td>
                                <td class="pd_r30">
									<button type="button" onclick="goPage(0); return false;" class="btn_search02 btn_small">검색</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- // search area -->

				<!-- tbl -->
					<div class="tbl_top clear">
						<div class="tbl_left">
							<i class="fa fa-file-text-o"></i>
							<strong>전체 {{formatNumber totlalCount}} </strong>
							<span>({{currentPage}}/{{totlalPageCount}} page)</span>
						</div>
					</div>
					<div class="table_warp">
						<table class="tbl_col_type02">
							<caption>이벤트관리 목록</caption>
							<colgroup>
								<col style="width:20%;">
								<col style="width:20%;">
								<col>
								<col style="width:12%;">
								<col style="width:12%;">
								<col style="width:12%;">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">발생일시</th>
									<th scope="col">회복일시</th>
									<th scope="col">설비명</th>
									<th scope="col">발생원</th>
									<th scope="col">초치내역</th>
									<th scope="col">조치자</th>
								</tr>
							</thead>
							<tbody>
							{{#each dataList}}
								<tr>
									<td>{{replace eventdate "T" " "}}</td>
									<td>{{replace recoverdate "T" " "}}</td>
									<td>{{equipment}}</td>
									<td>{{reason}}</td>
									<td>{{actiondetail}}</td>
									<td>{{worker}}</td>
								</tr>
							{{/each}}
							{{#eqLong totlalCount 0}}
								<tr>
									<td colspan="6">등록/검색된 결과가 없습니다.</td>
								</tr>
							{{/eqLong}}	
							</tbody>
						</table>
					</div>
					<!-- // tbl -->
					<!-- paging -->
					{{>include/pagination}}
					<!-- //paging -->

			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/maintenance/eventmanage.js"></script>
    <!--//custom js-->
</body>
</html>
