<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
{{>include/skipnavi}}
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location4}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>설비정보</span></h2>
				<!-- 타이틀 -->

                <!-- search area -->
				<div class="search_area">
					<table class="tbl_search">
						<caption>검색조건</caption>
						<colgroup>
							<col style="width:15%;">
							<col style="width:15%;">
							<col>
							<col style="width:20%;">
							<col style="width:10%;">
						</colgroup>
						<tbody>
							<tr>
								<td class="tbl_line">
                                    <select class="w100p" id="searchFirst">
										<option value="all" {{#eq search.searchFirst "all"}}selected{{/eq}}>전체</option>
										<option value="계량기" {{#eq search.searchFirst "계량기"}}selected{{/eq}}>계량기</option>
										<option value="모뎀" {{#eq search.searchFirst "모뎀"}}selected{{/eq}}>모뎀</option>
									</select>
								</td>
								<td class="tbl_line">
									<select class="w100p" id="searchSecond">
										<option value="all" {{#eq search.searchSecond "all"}}selected{{/eq}}>전체</option>
										<option value="model" {{#eq search.searchSecond "model"}}selected{{/eq}}>모델명</option>
										<option value="madeby" {{#eq search.searchSecond "madeby"}}selected{{/eq}}>제조사</option>
									</select>
								</td>
								<td class="tbl_line">
									<input type="text" id="searchStr" maxlength="50" value="{{search.searchStr}}" class="text w95p" placeholder="검색어를 입력해주세요.">
								</td>
                                <td class="tbl_line">
                                   설치일 <span class="calendar_input"><input type="text" id="from1" value="{{search.searchDate}}" class="text w78p"/></span>
                                </td>
                                <td rowspan="2" class="pd_r15">
									<button type="button" onclick="goPage(0); return false;"  class="btn_search02 btn_small">검색</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- // search area -->

				<!-- tbl -->
					<div class="tbl_top clear">
						<div class="tbl_left">
							<i class="fa fa-file-text-o"></i>
							<strong>전체 {{formatNumber totlalCount}} </strong>
							<span>({{currentPage}}/{{totlalPageCount}} page)</span>
						</div>
					</div>
					<div class="table_warp">
						<table class="tbl_col_type02">
							<caption>설비정보 목록</caption>
							<colgroup>
								<col style="width:12%;">
								<col style="width:20%;">
								<col style="width:12%;">
								<col>
								<col style="width:10%;">
								<col style="width:10%;">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">설비명</th>
									<th scope="col">모델명</th>
									<th scope="col">제조사</th>
									<th scope="col">설치주소</th>
									<th scope="col">설치일</th>
									<th scope="col">비고</th>
								</tr>
							</thead>
							<tbody>
							{{#each dataList}}
								<tr>
									<td>{{equipment}}</td>
									<td>{{model}}</td>
									<td>{{madeby}}</td>
									<td>{{installaddr}}</td>
									<td>{{installdate}}</td>
									<td>{{remark}}</td>
								</tr>
							{{/each}}
							{{#eqLong totlalCount 0}}
								<tr>
									<td colspan="6">등록/검색된 결과가 없습니다.</td>
								</tr>
							{{/eqLong}}	
							</tbody>
						</table>
					</div>
					<!-- // tbl -->
					<!-- paging -->
					{{>include/pagination}}
					<!-- //paging -->
			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/environment/equipmentinfo.js"></script>
    <!--//custom js-->	
</body>
</html>
