<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
{{>include/skipnavi}}
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location4}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>정기점검</span></h2>
				<!-- 타이틀 -->

                <!-- search area -->
				<div class="search_area">
					<table class="tbl_search">
						<caption>검색조건</caption>
						<colgroup>
							<col style="width:60%">
                            <col style="width:40%;">
						</colgroup>
						<tbody>
							<tr>
								<td style="text-align:right">
                                    기간  <span class="calendar_input"><input type="text" id="from1" value="{{search.startDate}}" class="text w78p"/></span> ~ <span class="calendar_input" ><input type="text" id="to1" value="{{search.endDate}}" class="text w78p" /></span>
								</td>
                                <td class="pd_r30">
									<button type="button" onclick="goPage(0); return false;" class="btn_search02 btn_small">검색</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- // search area -->

				<!-- tbl -->
					<div class="tbl_top clear">
						<div class="tbl_left">
							<i class="fa fa-file-text-o"></i>
							<strong>전체 {{formatNumber totlalCount}} </strong>
							<span>({{currentPage}}/{{totlalPageCount}} page)</span>
						</div>
						<div class="tbl_right"><a href="#dispay_view1" onclick="view_show(1);" class="btn btn_w155 btn_sky"> 신규등록</a>
						</div>
					</div>

					<!-- 팝업 등록 -->
					<div class="popup js-popup modal fade" id="dispay_view1" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
						<div class="pop_header">
							<h1 class="pop_tit" id="savePostsLabel">정기점검 입력/수정</h1>
							<a href="#" onclick="view_hide(1);" class="pop_close"></a>
						</div>
						<div class="pop_content">
							
							<!-- tbl -->
							<div class="table_warp mar_t20">
								<table class="tbl_row_type01">
									<caption>내용(제목, 작성자, 작성일 등으로 구성)</caption>
									<colgroup>
										<col style="width:15%;">
										<col style="width:35%;">
										<col style="width:15%;">
										<col >
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">주기</th>
											<td colspan="3">
												<select class="w100p" id="period">
													<option value="매월">매월</option>
													<option value="매주">매주</option>
													<option value="매일">매일</option>
												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">시기</th>
											<td colspan="3">
												<select class="w100p" id="weektime">
													<option value="월요일">월요일</option>
													<option value="화요일">화요일</option>
													<option value="수요일">수요일</option>
													<option value="목요일">목요일</option>
													<option value="금요일">금요일</option>
													<option value="토요일">토요일</option>
													<option value="일요일">일요일</option>
												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">설비명</th>
											<td colspan="3">
												<input type="text" class="text w95p" id="equipment" placeholder="설비명을 입력하세요" />
											</td>
										</tr>
										<tr>
											<th scope="row">등록자</th>
											<td>
												<input type="text" class="text w95p" id="author" placeholder="등록자를 입력하세요">
											</td>
											<th>작업자</th>
											<td>
												<input type="text" class="text w95p" id="worker" placeholder="작업자를 입력하세요">
											</td>
										</tr>
										<tr>
											<th scope="row">작업상세</th>
											<td  colspan="3">
												<textarea title="내용을 입력하세요" id="contents" placeholder="작업상세를 입력하세요"></textarea>
											</td>
										</tr>
										<tr>
											<th scope="row">비고</th>
											<td colspan="3">
												<input type="text" class="text w95p" id="remark" placeholder="비고를 입력하세요" >
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- // tbl -->
							<div class="mar_t20 pop_footer">
								<a href="#" class="btn btn_w155 btn_sky" id="btn-save">등록</a>
								<a href="#" onclick="view_hide(1);" class="btn btn_w155 btn_gray02">취소</a>
							</div>

						</div>

					</div>
					<div class="popup_bg" id="js-popup-bg"></div>
					<!-- // 팝업 등록 -->


					<div class="table_warp">
						<table class="tbl_col_type02">
							<caption>이벤트관리 목록</caption>
							<colgroup>
								<col style="width:10%;">
								<col style="width:10%;">
								<col>
								<col style="width:10%;">
								<col style="width:10%;">
								<col style="width:20%;">
								<col style="width:10%;">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">주기</th>
									<th scope="col">시기</th>
									<th scope="col">설비명</th>
									<th scope="col">등록자</th>
									<th scope="col">{{dataList.count}}</th>
									<th scope="col">{{dataList.size}}</th>
									<th scope="col">{{dataList.length}}</th>
								</tr>
							</thead>
							<tbody>
							{{#each dataList}}
								<tr>
									<td>{{period}}</td>
									<td>{{weektime}}</td>
									<td>{{equipment}}</td>
									<td>{{author}}</td>
									<td>{{worker}}</td>
									<td>{{content}}</td>
									<td>{{remark}}</td>
								</tr>
							{{/each}}
							{{#eqLong totlalCount 0}}
								<tr>
									<td colspan="7">등록/검색된 결과가 없습니다.</td>
								</tr>
							{{/eqLong}}	
							</tbody>
						</table>
					</div>
					<!-- // tbl -->
					<!-- paging -->
					{{>include/pagination}}
					<!-- //paging -->
                
			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/environment/routinecheck.js"></script>
    <!--//custom js-->
</body>
</html>
