<!doctype html>
<html lang="kr">
<head>
{{>include/head}}
</head>
 <body>
{{>include/skipnavi}}
	<!-- wrapper -->
	<div id="wrapper">
		<!-- header  -->
		<header id="header" class="noprint">
			{{>include/gnb}}
			<!-- loaction -->
			<div class="loaction_bg">
				<div class="location_area clear">
					{{>include/location4}}		
					{{>include/weather}}		
				</div>
			</div>
			<!-- // loaction -->
		</header>
		<!-- // header   -->
		<!-- container -->
		<div id="container div_page a4" class="page-divide">
			<section id="content">
                <!-- 실시간현황 -->
				{{>include/live}}
				<!-- 실시간현황 -->

				<!-- 타이틀 -->
				<h2 class="page_title"><span>사용자정보</span></h2>
				<!-- 타이틀 -->

                <!-- search area -->
				<div class="search_area">
					<table class="tbl_search">
						<caption>검색조건</caption>
						<colgroup>
							<col style="width:15%;">
							<col>
							<col style="width:10%;">
						</colgroup>
						<tbody>
							<tr>
								<td class="tbl_line">
                                    <select class="w100p" id="searchFlag">
										<option value="all" {{#eq search.searchFlag "all"}}selected{{/eq}}>전체</option>
										<option value="userid" {{#eq search.searchFlag "userid"}}selected{{/eq}}>아이디</option>
										<option value="username" {{#eq search.searchFlag "username"}}selected{{/eq}}>이름</option>
										<option value="userpart" {{#eq search.searchFlag "userpart"}}selected{{/eq}}>소속</option>
										<option value="useremail" {{#eq search.searchFlag "useremail"}}selected{{/eq}}>이메일</option>
									</select>
								</td>
								<td class="tbl_line">
									<input type="text" id="searchStr" maxlength="50" value="{{search.searchStr}}" class="text w95p" placeholder="검색어를 입력해주세요.">
								</td>
                                <td rowspan="2" class="pd_r15">
									<button type="button" onclick="goPage(0); return false;" class="btn_search02 btn_small">검색</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- // search area -->

				<!-- tbl -->
					<div class="tbl_top clear">
						<div class="tbl_left">
							<i class="fa fa-file-text-o"></i>
							<strong>전체 {{formatNumber totlalCount}} </strong>
							<span>({{currentPage}}/{{totlalPageCount}} page)</span>
						</div>
					</div>
					<div class="table_warp">
						<table class="tbl_col_type02">
							<caption>사용자정보 목록</caption>
							<colgroup>
								<col style="width:12%;">
								<col style="width:10%;">
								<col style="width:10%;">
								<col style="width:15%;">
								<col style="width:12%;">
								<col style="width:12%;">
								<col>
								<col style="width:10%;">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">아이디</th>
									<th scope="col">이름</th>
									<th scope="col">역활명</th>
									<th scope="col">소속</th>
									<th scope="col">연락처(HP)</th>
									<th scope="col">연락처(T)</th>
									<th scope="col">이메일</th>
									<th scope="col">SNS여부</th>
								</tr>
							</thead>
							<tbody>
							{{#each dataList}}
								<tr onclick="view_show(2,'edit',this); return false;" style="cursor:pointer">
									<td>{{userid}}</td>
									<td>{{username}}</td>
									<td>{{userrole}}</td>
									<td>{{userpart}}</td>
									<td>{{userhp}}</td>
									<td>{{usertel}}</td>
									<td>{{useremail}}</td>
									<td>{{usersms}}</td>
								</tr>
							{{/each}}	
							{{#eqLong totlalCount 0}}
								<tr>
									<td colspan="8">등록/검색된 결과가 없습니다.</td>
								</tr>
							{{/eqLong}}		
							</tbody>
						</table>
					</div>
					<!-- // tbl -->
					<!-- paging -->
					{{>include/pagination}}
					<!-- //paging -->

			</section>
		</div>
		<!--// container -->
		<!-- footer -->
		{{>include/footer}}
		<!--// footer -->
	</div>
	<!--// wrapper -->
	<!--custom js 추가-->
    <script src="/js/app/environment/userinfo.js"></script>
    <!--//custom js-->
</body>
</html>
